aiohttp
amqp
beautifulsoup4
black
boto3
Brotli
celery
certifi
coverage
cryptography
decorator
Deprecated
Django <5.0
django-activity-stream
django-allauth
django-appconf
django-autocomplete-light
django-avatar
django-bootstrap3-datetimepicker-2
django-celery-results
django-cors-headers
django-downloadview
django-filter
django-floppyforms
django-forms-bootstrap
django-geonode-mapstore-client
django-grappelli
django-guardian
django-imagekit
django-invitations
django-ipware
django-markdownify
django-modeltranslation
django-mptt
django-polymorphic
django-recaptcha
djangorestframework
djangorestframework-gis
djangorestframework-guardian
django-select2
django-sequences
django-storages
django-taggit
django-tastypie
django-tinymce
django-treebeard
django-user-agents
django-uuid-upload-path
django-widget-tweaks
dj-database-url
dj-pagination
dnspython
docker
drf-extensions
drf-spectacular
drf-writable-nested
dropbox
dynamic-rest
factory-boy
flake8
flaky
flower < 2.0
geonode-announcements
geonode-importer
geonode-oauth-toolkit
geonode-pinax-notifications
geonode-user-messages
geoserver-restconfig
gisdata
gn-arcrest
gn-gsimporter
google-cloud-core
google-cloud-storage
gunicorn
httplib2
hyperlink
idna
inflection
invoke
ipython
jdcal
jsonschema
jwcrypto
kombu
lxml
mako
Markdown
mercantile
mistune
mock
nh3
numpy
oauthlib
OWSLib
paramiko
Paver
Pillow
pip
pixelmatch
protobuf
psutil
psycopg2
pycountry
pycsw
pyjwt
pylibmc
PyMuPDF
pyopenssl
pyproj
pytest
pytest-bdd
pytest-django
pytest-splinter
python-dateutil
python-slugify
pytz
rdflib
requests
requests-toolbelt
schema
selenium
selenium-requests
setuptools
Shapely
sherlock
smart-open
splinter
SQLAlchemy
sqlparse
timeout-decorator
tqdm
Twisted
urllib3
user-agents
uWSGI
vine
webdriver-manager
whitenoise
wrapt
xmljson
xmltodict
zipstream-new
